.mf-calibration-num-points-step,
.mf-calibration-point-step,
.mf-calibration-confirm-step
  text-align: center

.mf-calibration-num-points-step
  margin-top: 20px
  margin-bottom: 20px

.mf-calibration-num-points-step,
.mf-calibration-point-step
  input
    display: inline-block
    text-align: right
    width: 125px

.mf-calibration-point-step
  > .table
    display: table
    text-align: center
    width: auto
    max-width: auto
    margin-left: auto
    margin-right: auto

    > .input
      margin-bottom: 10px

    > .input,
    > .output
      display: inline-block
      margin-left: 7px
      margin-right: 7px
      max-width: 200px
      > .header
        text-align: left
        display: block
        font-weight: bold
      > .value
        display: inline-block

.mf-calibration-confirm-step
  table
    margin-left: auto
    margin-right: auto
    margin-bottom: 20px

    tr.header
      text-align: center
      > td
        font-weight: bold
    tr.values
      > td.inputValue,
      > td.outputValue
        text-align: right
        max-width: 150px
      > td.inputUnits,
      > td.outputUnits
        text-align: left
      td
        padding: 0
      input
        text-align: right

      &:not(:first-child):not(:nth-child(2)) > td > *
        border-top: none
        border-top-left-radius: 0
        border-top-right-radius: 0
      &:not(:last-child) > td > *
        border-bottom-left-radius: 0
        border-bottom-right-radius: 0

      td
        &:not(:last-child) > *
          border-top-right-radius: 0
          border-bottom-right-radius: 0
        &:not(:first-child) > *
          border-left: none
          border-top-left-radius: 0
          border-bottom-left-radius: 0

    tr,
    tr *
      height: 30px
