@import gauge

.vbar-gauge
  position: relative

  .name
    dominant-baseline: hanging

  .value
    text-anchor: end

  .min
    text-anchor: end
    dominant-baseline: alphabetic
  .max
    text-anchor: end
    dominant-baseline: hanging

  &.narrow-layout
    .units
      text-anchor: end