@import ~sass-flex-mixin/flex

$input-width: 125px
$label-width: 125px
$toggle-width: 55px
$units-width: 65px
$modal-inset: 52px

$xs-width: $input-width + $label-width + $toggle-width + $modal-inset
$xs-width-m1: $xs-width - 1px
$sm-width: $input-width + $label-width * 2 + $modal-inset
$sm-width-m1: $sm-width - 1px

.metadata-item-form
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
    -webkit-appearance: none
    margin: 0

  .error-alert
    margin-top: 10px

    > .alert
      margin: 0

  .react-toggle
    > .react-toggle-track
      background-color: #bbbbbb
    > .react-toggle-thumb
      border-color: #bbbbbb

    &:hover
      > .react-toggle-track
        background-color: #999999

    &.react-toggle-checked
      > .react-toggle-track
        background-color: #2662b1
      > .react-toggle-thumb
        border-color: #2662b1

    &.react-toggle-checked:hover:not(.react-toggle--disabled)
      > .react-toggle-track
        background-color: #1d4b88

  .form-group
    margin-bottom: 3px
    @include flexbox
    @include align-items(center)

    .label-column
      text-align: right
      margin-right: 5px
      @include flex(1 1 $label-width)
    .input-column
      @include flex(0 0 $input-width)
    .last-column
      margin-left: 5px
      @include flex(1 0 $label-width)

    @media (max-width: #{$sm-width-m1})
      .last-column
        @include flex(1 0 $units-width)

    @media (max-width: #{$xs-width-m1})
      @include flex-wrap(wrap)

      .label-column
        text-align: left
        @include flex(1 1 0)
      .last-column
        text-align: right
        @include flex(0 0 $toggle-width)
        @include order(1)
      .input-column
        @include flex(1 1 $xs-width)
        @include order(2)

