@import ../css3-mixins

$block-transition-duration: 0.2s

.block
  cursor: pointer
  display: inline-block
  position: absolute
  background-color: #eee
  overflow: hidden  
  border-style: none
  border-radius: 0
  outline: none
  @include transition(all $block-transition-duration ease-out)

  &.grabbed,
  &.resizing
    @include transition(opacity $block-transition-duration linear)

  .delete-btn,
  > .resize-knob
    cursor: pointer
    position: absolute
    visibility: hidden
    opacity: 0
    border-style: none
    background-color: #ddd
    outline: none !important
    z-index: 100
    @include box-shadow(0px, 0px, 5px, rgba(0, 0, 0, 0.5))
    @include transition(all linear $block-transition-duration)

    &:hover
      background-color: #fff
