.mf-default-view
  margin: 0 auto
  max-width: 615px
  padding: 0 15px

.mf-default-title
  font-size: 30px
  text-align: center

.mf-default-footer
  text-align: right
  button:not(:first-child)
    margin-left: 5px
